@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow&family=Rubik&display=swap'); /*import gia ti grammatoseira*/
/*------------------INDEX------------------------------*/
/*font apo to fonts.google.com*/
body {
    font-family: 'Rubik', sans-serif;
    margin: 0px;/*gia na min exei keno gyro gyro*/
    background-color: #e4f1fe;
}

/* position fixed gia na menei sto screen view
kai overflow hidden gia na min emfanizetai tipota 
pisw apo to menu mas */
header {
    overflow: hidden;
    position: fixed;
    top: 0;
}

/*class gia to menu*/
.menu {
    background-color: #34495e;
    display: inline-block;
    /*gia na emfanisei stin idia seira to logo kai ti lista*/
    clear: both;
    /*clear: both gia na min exei elements na kanoyn float deksia kai aristera*/
    width: 100%;
    /*gia na kratisoume fixed to menu sto top otan scrollaroume*/
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

main {
    margin-top: 100px;
}

/* gia to header bazoume me float 
aristera to logo kai aristera to nav */

.logo {
    float: left;
    width: auto;
    height: 70px;
    padding: 5px 20px;
}

.menu nav {
    float: right;
}

/*to menu to ftiaxnoume me mia ul 
bazontas ta li sti seira xwris bullets*/
.menu nav ul {
    margin: 0px;
    list-style: none;
    padding: 25px;
}

.menu nav li {
    display: inline-block;/*gia na emfanisoume ta li sti seira*/
    margin: 0px;
}

/*morfopoihseis gia ta grammata kai bgazoume 
ta underline twn links gia na fainontai pio omorfa*/
.menu nav li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px;
    
}

/*gia na emfanizetai h allagh tou xrwmatos otan kanoume hover se olo to heigth tou header*/
.menu nav li a:hover {
    background: #ddd;
    color: #009bff;
}

/* bazoume topo8etoume sto telos tis selidas to footer 
bazontas aristera kai deksia to onoma/epwnumo kai ta 
stoixeia epikoinwnias toy kathe melous ths omadas,
ta bazoume deksia aristera me display: inline-block
kai analoga to kathena me float right/left
analoges morfopoihseis sta a kai h1*/
.footer {
    background: gray;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 300px;
}

#contact_footer {
    font-size: 35px;
    text-align: center;
}

.footer h1 {
    font-size: 20px;
}

.rightAddress {
    float: right;
    width: 50%;
    text-align: left;
}

.leftAddress {
    float: left;
    width: 50%;
    text-align: right;
}

.footer ul {
    list-style: none;
    margin: 0;
}

.footer ul li {
    margin: 0px;
}

.footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.footer ul li h1 {
    font-size: 25px;
}

/* HOMEPAGE main content */
/* se olo to content xrhsimopoioume tin class 
container brisketai pio katw sto idio arxeio css*/


/* aside and our vision */

.top-entity-container {
    display: block;
    padding: 20px 40px 40px 40px;
    height: 750px;
}
/* css rules for aside */
.offers {
    float: right;
    width: 20%;
    padding: 0 15px;
    margin-right: 10px;
    background-color: #34495e;
    border-radius: 35px;
    text-align: center;
    color: #fff;
}




.offers a {
    color: #000;
    text-decoration: none;
}

.course-in-offer {
    width: 98%;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}

/* exoume kanoniko width 98% kai 
otan kanoyme hover ginetai 100%*/
.course-in-offer:hover {
    width: 100%;
}

.course-in-offer img {
    width: 30%;
    /* kanoume to img apo inline se block
    kai bazoume margin 0 top-bottom kai
    auto left-rigth gia na paei sti mesi */
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

/* p:nth-child(1) gia na epileksoume to prwto tag "p"*/
.course-in-offer p:nth-child(1){
    padding-top: 10px;
    width: 80%;
    display: block;
    margin: 0 auto;
}
/* p:last-child gia na epileksoume to teleutaio tag "p"*/
.course-in-offer p:last-child {
    padding-bottom: 10px;
}

/* morfopoioume ta tag del kai ins
opou fainete i prosfora gia ta courses*/

del {
    color: rgb(238, 93, 93);
    font-weight: 600;
}

ins {
    text-decoration: none;
    font-weight: 900;
    color: rgb(70, 177, 70);
}

/* our vision rules */
/* bazoume display block gia na einai to ena katw apo to allo,
bazoume float left gia to sugkekrimeno block na einai deksia 
kai parakatw na baloume to aside deksia(float:right)
mesa sto article-container exoume left-cont pou einai to keimeno kai 
right-cont pou einai h fwtografia me to <a> poy odhgei sto contact us*/

.article-container {
    float: left;
    display: block;
    width: 55%;
    height: 80%;
    background-color: #404040;
    color: #fff;
    margin: 0 40px 40px 40px;
    padding: 80px;
    border-radius: 35px;
}

.left-cont {
    float: left;
    width: 50%;
}

.left-cont p {
    font-size: 20px;
    width: 80%;
}

.right-cont {
    float: right;
    width: 50%;
}
.right-cont img {
    width: 80%;
    height: 80%;
}

.right-cont a {
    display: block;
    width: 40%;
    background-color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
/* se auth thn askhsh gia na emfanizontai wraia ta blogs
ta bazoyme se ena container(blog-container) kai bazoyme se kathe blog width
to ena trito ths othonis diladi width:33.33% gia na doulepsei auto
prepei sthn html aname apo kathe div stoixo twn blogs na yparxei sxolio
px
...
..
</div><!--
--><div>
...
...
</div> 
yparxoyn sxetika sxolia kai sotn kwdika toy html
PROSOXI: an xrhsimopoihsete extension gia morfopoihsh toy kwdika den tha emfanizontai
swsta ta stoixeia tha emfanizontai mono dyo ana seira. Opote tha prepei na yparxoyn ta 
sxolia ta kena sxolia ston kwdika toy ekastote html arxeiou. Mporeite na epikoinwneisete 
mazi mas gia kathe aporia kai dieykrinisi*/
.blog-container {
    display: block;
    margin:0px auto;
}
.blog-container>h1 {
    text-align:center;
    font-size: 45px;
    font-weight: 900;
    padding-top: 40px;
}
.all-blogs {
    display: block;
    padding:  0px 40px 80px 40px;
}

.single-blog {
    display: inline-block;
    box-sizing: border-box;
    /* to width einai 33.33% gia ton parapanw logo pou anaferthike
    an htan ligotero apo 33.33% de tha stoixizontan swsta sth mesh*/
    width: 33.33%;
    padding: 0px 30px;
    vertical-align: top;
}

.single-blog a {
    text-decoration: none;
    color: #000;
}
.blog {
    border-radius: 25px;
    background-color: #fff;
    display: block;
}

.blog:hover {
    box-shadow: 0 16px 30px rgba(0,0,0,.16);
}

/* kanontas to img stoixeio apo default span se block
mporoyme na to stoixisoume eukola sth mesh apla me 
margin: 0 auto; */
.blog img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.blog p {
    font-size: 14px;
    padding: 0px 20px 15px 20px;
}

.blog h1 {
    text-align: center;
    padding: 15px 10px 0px 10px;
}

.copyright {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;
    padding-left: 40px;
    margin: 15px;
    clear: both;
}

/*----------------TELOS INDEX--------------------------*/

/*----------------ABOUT-US---------------------------*/

/* allazoume to font wste na fainetai
kai kala pws einai xeirografh */
.biography {
    font-family: 'Architects Daughter', cursive;

}

/* morfopoioume ta h1 me ta onomata mas
me allo font, megethos, paxos, kai bazoume
border mono sto katw meros tou onomatos 
kai oxi sto text kanontas mia grammi apo katw */
.black-text-bottom-border {
    font-family: 'Barlow', sans-serif;
    font-size: 4em;
    font-weight: 700;
    text-align: left;
    border-bottom: 7px solid black;
    padding-bottom: 15px;
    margin: 15px 100px;
}

/* diaforetika id gia ta h1
me ta onomata mas giati exoun diaforetiko
megethos wste na ta diaforopoihsoume kai na 
exoyn to border akribws to idio mikos me to 
onoma mas */
#george-karampelas-name {
    width: 330px;
}

#antonis-xhristoulakis-name {
    width: 365px;
}

#text-box-about-us {
    text-align: center;
    background-color: #34495e;
    color: #e4f1fe;
    width: 500px;
    display: block;
    margin: auto;
    font-size: 50px;
    padding: 10px;
    border-radius: 50px;
}
/* bazoume section img wste na min epileksei 
ti fwtografia apo header kai tin morfopoihsei */
.rounded-img {
    width: 350px;
    height: auto;
    border-radius: 350px;
    margin-left: 100px;
}

.person-george {
    padding: 40px;
    margin: 40px;
    background-color: #2574a9;
    width: 75%;
    float: left;
    clear: both;
    border-radius: 100px;
}


.name-photo {
    padding: 10px;
    margin: 5px;
    width: 35%;
}

.info {
    margin: 5px;
    width: 50%;
    font-size: 25px;
}

.info h2 {
    text-decoration: underline;
}

.person-george .name-photo {
    float: left;
}

.person-george .info {
    float: right;
    padding: 10px 60px;
    border-left: 4px solid black;
}

.person-antonis .name-photo {
    float: right;
}

.person-antonis .info {
    float: left;
    padding: 10px 60px;
    border-right: 4px solid black;
}

.person-antonis {
    padding: 40px;
    /* margin: 40px; den bazoume
    edw olo margin giati exoume 
    kai stin panw class margin:40px
    kai tha diplasiazei to margin 
    kanontas to anomoiomorfo*/
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: #6c7a89;
    border-radius: 100px;
    width: 75%;
    float: right;
    clear: both;
}

/*--------------- TELOS ABOUT-US---------------------------*/

/*--------------------TOPICS-------------------------------*/

#topic-text {
    text-align: center;
    background-color: #34495e;
    color: #e4f1fe;
    width: 200px;
    display: block;
    margin: 40px auto;
    font-size: 50px;
    padding: 10px;
    border-radius: 25px;
}


.all-topics {
    display: block;
    max-width: 1260px;
    margin: 0 auto;
}


.container {
    display: block;
    padding: 20px 15px 40px 15px; 
    margin-bottom: 50px;  
}

/* h stoixish twn topics ginetai me ton idio tropo
pou anaferthike gia thn stoixisi twn blogs sthn homepage */
.topic-container {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0px 20px;
    vertical-align: top;
}

.topic-container a {
    text-decoration: none;
}

.topic-container a:visited {
    color:black;
}

/* einai to p me ton titlo tou topic */
.topic-container p:nth-child(1) {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* einai i paragraphos pou grafei "Courses:" */
.topic-container p:nth-child(2) {
    padding-left: 38px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}
.topic-container ul {
    list-style-type: none;
}

.topic {
    border: 0px solid black;
    border-radius: 35px;
    background-color: #fff;
    padding: 10px;
    margin: 0px; 
    display: block;
    transition: .3s box-shadow;
    box-shadow: 10px 4px 16px rgba(75, 59, 59, 0.0);
}
.topic:hover {
    box-shadow: 0 16px 30px rgba(0,0,0,.16);
}
.topic .topic-img {
    width: 100%;
}
/*----------------------- TELOS TOPICS----------------------------*/


/*------------------------SUBJECTS---------------------------------*/

/* san class container xrisimopoioume thn idia pou 
ftiaksame gia ta topics*/

.all-subject {
    display: block;
    max-width: 1260px;
    margin: 0 auto;
}


/* h stoixish twn courses ginetai me ton idio tropo
pou anaferthike gia thn stoixisi twn blogs sthn homepage */
.courses {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
}

.courses img {
    width: 200px;
}

#browse-course {
    text-align: center;
    transition: .3s box-shadow;
    box-shadow: 0 4px 16px rgba(75, 59, 59, 0.0);

}

.course {
    border: 0px solid black;
    border-radius: 35px;
    background-color: #fff;
    padding: 10px;
    margin: 0px;
    display: block;
    transition: .3s box-shadow;
    box-shadow: 0 4px 16px rgba(75, 59, 59, 0.0);
}
.course:hover {
    box-shadow: 0 16px 30px rgba(0,0,0,.16);
}

.course img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 20px

}

.course p {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

/* pairnei to a paidi tou course */
.course>a {
    padding-left: 40px;
    font-size: 16px;
    font-weight: 600;
}

/* opoiodhpote apogono tou course */
.course a {
    color:black;
}

.course a:visited {
    color:black
}
/*-----------------------TELOS SUBJECTS---------------------------*/

/*-----------------------CONTACT----------------------- */

form{
    background-color: #6c7a89;
    width: 400px;
    height: 750px;
    margin: 40px auto;
    border-radius: 50px;
}

.input{
    background-color: #dfe1f1;
    border-radius: 12px;
    height: 50px;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
}

.txt_input{
    background-color: #dfe1f1;
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 12px;
}

#contact_title{
    text-align: center;
    text-decoration: underline;
}

.label{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.input_row{
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.btn{
    margin-top: 20px;
}


/* ----------------------- TELOS CONTACT----------------------- */